<html>

<head>
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='styles.css') }}">
    <script> function load_home() { window.location = 'http://localhost:8000/stores/'; }</script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
    <button class="fa fa-home" onclick="load_home()">Home</button>
    <h1> Are you sure you want to delete {{item.brand}}? </h1>

<form action="{{url_for('deleteTv', store_id = store_id, tv_id = item.id)}}" method='POST'>

<input type='submit' , value='Delete'>

<a href="{{url_for('showTv', store_id = store_id, tv_id = item.id)}}"><button type="button">Cancel</a></button>

</form>

</body>

</html>